body {
    margin: 0;
    padding: 0;
    background: #efefef;
}

button {
    padding: 10px;
    background: transparent;
    border: none;
    font-size: 50px;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    height: 600px;
}

.grid-footer{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
    height: 100px;
}

